.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Charmander {
    width: 20vw; /* 20% of viewport width */
    max-width: 150px; /* but never bigger than this */
    min-width: 60px; /* and never smaller than this */
    transform: rotateY(180deg);
  }

  .Squirtle {
    width: 20vw; /* 20% of viewport width */
    max-width: 150px; /* but never bigger than this */
    min-width: 60px; /* and never smaller than this */
  }
}

.App-header .main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 5vw, 120px);
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
